<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Edit User {{user.id}}</h1>
    <a href="/users">Home</a>
    <form action="/users/{{user.id}}/edit" method="POST">
        <label for="first_name">
            First Name
        </label>
        <input value="{{user.first_name}}" type="text" name="first_name" id="first_name">
        <label for="last_name">
            Last Name
        </label>
        <input value="{{user.last_name}}"  type="text" name="last_name" id="last_name">
        <label for="email">
            Email
        </label>
        <input value="{{user.email}}"  type="email" name="email" id="email">
        <button type="submit">Update</button>
    </form>
    <a href="/users/{{user.id}}">View User</a>
</body>
</html>