<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
</head>
<body>
    {% with messages = get_flashed_messages() %} 
        {% if messages %}                            <!-- comprobar si hay algún mensaje -->
            {% for message in messages %}            <!-- recorrer los mensajes -->
                <p>{{message}}</p>                   <!-- muestra cada mensaje en una etiqueta de párrafo -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>New Ninja</h1>
    <form action="/ninjas/process" method="POST">
        <label for="">Dojos</label>
        <select name="dojos_id" id="">
            {% for dojo in all_dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select>
        <label for="">First Name</label>
        <input type="text" name="first_name">
        <label for="">Last Name</label>
        <input type="text" name="last_name">
        <label for="">Age</label>
        <input type="number" name="age" id="">
        <button>create</button>
    </form>
</body>
</html>